<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Welcome to Xomnia</title>
        {% endif %}
    </head>

    <body>
        <h1>Xomnia Challenge</h1>
        <ol>
        {% for q in quiz %}
            <li>{{ q.question }}</li>
            {% if q.picture %}
            <img src="/static/{{ q.picture }}">
            {% endif %}
            {% for a in q.answers %}
            <p style="margin-bottom:0.01cm;"></p>
            <input type='radio' value='{{a}}'/>{{a}}
            <p style="margin-bottom:0.1cm;"></p>
            {% endfor %}
            <p style="margin-bottom:1cm;"></p>
        {% endfor %}
        </ol>
    </body>
</html>
