  <html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Welcome to Xomnia</title>
        {% endif %}
    </head>
    <body>
        <h1> Correct Answers: {{c}}</h1>
        <div><a href="/">Home</a></div>
    </body>
</html>